<div class="position-absolute top-50 start-50 translate-middle">
    <img src={{image}} class="card-img-top" alt="Crew Patch">
    <h1>{{title}}</h1>
    <div class="card text-white bg-dark mb-3" style="width: 50rem;">
        <div class="card-body">
            <table class="table table-sm table-borderless table-dark align-middle" style="width: 20rem;">
                <tbody>
                    <tr>
                        <td>Mission Name</td>
                        <td>{{missionName}}</td>
                    </tr>
                    <tr>
                        <td>Rocket</td>
                        <td>{{rocketName}}</td>
                    </tr>
                    <tr>
                        <td>Launch Site</td>
                        <td>{{launchpadName}} {{launchpadRegion}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-borderless table-dark" style="width: 15rem;">
                <tbody>
                    <tr>
                        <td>Site Launch Time</td>
                        <td>placeholder</td>
                    </tr>
                    <tr>
                        <td>Your Launch Time</td>
                        <td>placeholder</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="card-body">
            <p class="card-text">{{details}}</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>